* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.grey-text {
  color: #c0c0c0
}

.yellow-text {
  color: #ffd43b;
}

.dark-grey-text {
  color: #818181;
}

.logo {
  font-weight: bold;
  font-size: 1.2em;
}

.h-full {
  height: 34em;
}

.bg-darker {
  background: #171932;
  background: #183153;
}


.header-bg-img {
  background-size: cover;
  background-image: url("../img/header1.jpg");
  background-position-y: center;
}

.course-bg {
  background-size: cover;
  background-image: url("../img/course2.jpg");
  background-position-y: center;
}

.course-bg-2 {
  background-size: cover;
  background-image: url("../img/course1.jpg");
  background-position-y: center;
}

h1 {
  font-size: 1.8em;
}

h1 span {
  font-size: 2.4em;
}