* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.grey-text {
  color: #c0c0c0
}

.dark-grey-text {
  color: #818181;
}

.logo {
  font-weight: bold;
  font-size: 1.2em;
}

.h-full {
  height: 34em;
}

.bg-darker {
  background: #171932;
}