* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
}

.grey-text {
  color: #c0c0c0
}

.yellow-text {
  color: #ffd43b;
}

.bg-yellow {
  background-color: #ffd43b;
}

.dark-grey-text {
  color: #818181;
}

.text-less-white {
  color: rgba(255, 255, 255, .7);
}

.logo {
  font-size: 1.2em;
}

.bg-darker {
  background: #183153;
}

.text-darker {
  color: #183153;
}

.header-bg-img {
  background-size: cover;
  background-image: url("../img/header1.jpg");
  background-position-y: center;
}

h1 {
  font-size: 3em;
}

h1 span {
  font-size: 2.4em;
}